{{> header}}


{{#with content}}
<div class="container package-page-container">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-7-24 pure-u-md-5-24">
      <div class="pure-menu package-menu">
        <ul class="pure-menu-list">
          <li class="pure-menu-heading">Authors</li>
          {{#each authors}}
          <li class="pure-menu-item"><a href="/releases/{{this.[1]}}" class="pure-menu-link">{{this.[0]}}</a></li>
          {{/each}}
          <li class="pure-menu-heading">Links</li>
          {{#if homepage_url}}<li class="pure-menu-item"><a href="{{homepage_url}}" class="pure-menu-link"><i class="fa fa-home fa-fw"></i> Homepage</a></li>{{/if}}
          {{#if documentation_url}}<li class="pure-menu-item"><a href="{{documentation_url}}" title="Canonical documentation" class="pure-menu-link"><i class="fa fa-fw fa-file-text"></i> Documentation</a></li>{{/if}}
          {{#if github}}
          <li class="pure-menu-item">
            <a href="{{repository_url}}" class="pure-menu-link"><i class="fa fa-github fa-fw"></i> <i class="fa fa-star-o fa-fw"></i> {{github_stars}} <i class="fa fa-code-fork fa-fw"></i> {{github_forks}} <i class="fa fa-exclamation-circle fa-fw"></i> {{github_issues}}</a>
          </li>
          {{else}}
          {{#if repository_url}}<li class="pure-menu-item"><a href="{{repository_url}}" class="pure-menu-link"><i class="fa fa-code-fork fa-fw"></i> Repository</a></li>{{/if}}
          {{/if}}
          <li class="pure-menu-item"><a href="https://crates.io/crates/{{name}}" class="pure-menu-link" title="See {{name}} in crates.io"><i class="fa fa-cube fa-fw"></i> Crates.io</a></li>
          <li class="pure-menu-heading">Dependencies</li>
          <li class="pure-menu-item">
            <div class="pure-menu pure-menu-scrollable sub-menu">
              <ul class="pure-menu-list">
                {{#each dependencies}}
                  <li class="pure-menu-item">
                    <a href="/crate/{{this.[0]}}/{{this.[1]}}"
                       class="pure-menu-link">
                      {{this.[0]}} {{this.[1]}}
                      <i class="dependencies {{this.[2]}}">{{this.[2]}}</i>
                    </a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </li>
          <li class="pure-menu-heading">Versions</li>
          <li class="pure-menu-item">
            <div class="pure-menu pure-menu-scrollable sub-menu">
              <ul class="pure-menu-list">
                {{#each versions}}
                <li class="pure-menu-item"><a href="/crate/{{../name}}/{{this}}" class="pure-menu-link">{{this}}</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
          <li class="pure-menu-heading">Owners</li>
          <li class="pure-menu-item">
          {{#each owners}}
            <a href="/releases/@{{this.[0]}}"><img src="{{this.[1]}}" alt="{{this.[0]}}" class="owner"></a>
          {{/each}}
          </li>
        </ul>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-17-24 pure-u-md-19-24 package-details" id="main">
      {{#unless is_library}}
      <div class="warning">{{name}}-{{version}} is not a library.</div>
      {{else}}
      {{#unless build_status}}
      <div class="warning">docs.rs failed to build {{name}}-{{version}}<br>Please check the <a href="/crate/{{name}}/{{version}}/builds">build logs</a> and, if you believe this is docs.rs' fault, <a href="https://github.com/rust-lang/docs.rs/issues/new/choose">open an issue</a>.</div>
      {{else}}
      {{#unless rustdoc_status}}
      <div class="warning">{{name}}-{{version}} doesn't have any documentation.</div>
      {{/unless}}
      {{/unless}}
      {{/unless}}
      {{#if readme}}
        {{{readme}}}
      {{else}}
        {{{rustdoc}}}
      {{/if}}
    </div>
  </div>

</div>
{{/with}}


{{> footer}}
