    <div class="nav-container">
      <div class="container">
        <div class="pure-menu pure-menu-horizontal" role="navigation" aria-label="Main navigation">
          <form action="/releases/search" method="GET" class="landing-search-form-nav">
            {{#unless varsb.show_search_form}}
            <input class="search-input-nav" name="query" type="text" aria-label="Find crate by search query" placeholder="Find crate &#x1F50D;"{{#if varss.search_query}} value="{{varss.search_query}}"{{/if}}>
            {{/unless}}
          <a href="/" class="pure-menu-heading pure-menu-link" aria-label="Docs.rs"><i class="fa fa-cubes fa-fw"></i> Docs.rs</a>
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/releases" class="pure-menu-link">Releases</a></li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" class="pure-menu-link">Rust</a>
              <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="https://www.rust-lang.org/" target="_blank" class="pure-menu-link">The Rust Programming Language</a></li>
                <li class="pure-menu-item"><a href="https://doc.rust-lang.org/book/" target="_blank" class="pure-menu-link">The Book</a></li>
                <li class="pure-menu-item"><a href="https://doc.rust-lang.org/std/" target="_blank" class="pure-menu-link">Standard Library API Reference</a></li>
                <li class="pure-menu-item menu-item-divided"><a href="https://doc.rust-lang.org/rust-by-example/" target="_blank" class="pure-menu-link">Rust by Example</a></li>

                <li class="pure-menu-item"><a href="https://crates.io" target="_blank" class="pure-menu-link">Crates.io</a></li>
                <li class="pure-menu-item menu-item-divided"><a href="http://doc.crates.io/guide.html" target="_blank" class="pure-menu-link">The Cargo Guide</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About Docs.rs</a></li>
              </ul>
            </li>
            {{> navigation_global_alert}}
          </ul>
          </form>
        </div>
      </div>
    </div>

    {{#unless varsb.hide_package_navigation}}
    <div class="cratesfyi-package-container">
      <div class="container">
        <h1>{{#if title}}{{title}}{{else}}{{content.metadata.name}} {{content.metadata.version}}{{/if}}</h1>
        <div class="description">{{#if content.metadata.description }}{{content.metadata.description}}{{else}}{{varss.description}}{{/if}}</div>

        {{#if ../varsb.show_package_navigation}}
        <div class="pure-menu pure-menu-horizontal">
          {{#if ../varsb.package_navigation_show_platforms_tab}}
          <ul class="pure-menu-list platforms-menu">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" class="pure-menu-link">Platform</a>
              <ul class="pure-menu-children">
                {{#each content.platforms}}
                <li class="pure-menu-item"><a href="/{{../../metadata.name}}/{{../../metadata.version}}/{{this}}/{{../../metadata.target_name}}/" class="pure-menu-link">{{this}}</a></li>
                {{/each}}
              </ul>
            </li>
          </ul>
          {{/if}}
          {{#with content.metadata}}
          <ul class="pure-menu-list">
            {{#if rustdoc_status}}
            <li class="pure-menu-item"><a href="/{{name}}/{{version}}/{{target_name}}/" class="pure-menu-link{{#if ../../varsb.package_navigation_documentation_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-book"></i><span class="title"> Documentation</span></a></li>
            {{/if}}
            <li class="pure-menu-item"><a href="/crate/{{name}}/{{version}}" class="pure-menu-link{{#if ../../varsb.package_navigation_crate_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-cube"></i><span class="title"> Crate</span></a></li>
            <li class="pure-menu-item"><a href="/crate/{{name}}/{{version}}/source/" class="pure-menu-link{{#if ../../varsb.package_source_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-folder-open-o"></i><span class="title"> Source</span></a></li>
            {{#if ../../varsb.package_navigation_builds_tab}} 
            <li class="pure-menu-item"><a href="/crate/{{name}}/{{version}}/builds" class="pure-menu-link pure-menu-active"><i class="fa fa-cogs"></i><span class="title"> Builds</span></a></li>
            {{/if}}
          </ul>
          {{/with}}
        </div>
        {{/if}}

        {{#if varsb.show_releases_navigation}}
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/releases" class="pure-menu-link{{#if varsb.releases_navigation_recent_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-leaf"></i><span class="title"> Recent</span></a></li>
            <li class="pure-menu-item"><a href="/releases/stars" class="pure-menu-link{{#if varsb.releases_navigation_stars_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-star"></i><span class="title"> Stars</span></a></li>
            <li class="pure-menu-item"><a href="/releases/recent-failures" class="pure-menu-link{{#if varsb.releases_navigation_recent_failures_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-warning"></i><span class="title"> Recent Failures</span></a></li>
            <li class="pure-menu-item"><a href="/releases/failures" class="pure-menu-link{{#if varsb.releases_navigation_failures_by_stars_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-star-o"></i><span class="title"> Failures By Stars</span></a></li>
            <li class="pure-menu-item"><a href="/releases/activity" class="pure-menu-link{{#if varsb.releases_navigation_activity_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-line-chart"></i><span class="title"> Activity</span></a></li>
            <li class="pure-menu-item"><a href="/releases/queue" class="pure-menu-link{{#if varsb.releases_queue_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-list-ol"></i><span class="title"> Queue</span></a></li>
            {{#if varss.author}}
            <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-active"><i class="fa fa-fw fa-user"></i><span class="title"> {{varss.author}}</span></a></li>
            {{/if}}
          </ul>
        </div>
        {{/if}}
      </div>
    </div>
    {{/unless}}
