    <div class="nav-container">
      <div class="container-rustdoc rustdoc-navigation">
        <div class="pure-menu pure-menu-horizontal">
          <form action="/releases/search" method="GET" class="landing-search-form-nav">
            {{#unless varsb.show_search_form}}
            <input class="search-input-nav" name="query" type="text" placeholder="Search crate"{{#if varss.search_query}} value="{{varss.search_query}}"{{/if}}>
            {{/unless}}
            <a href="/" class="pure-menu-heading pure-menu-link"><i class="fa fa-cubes fa-fw"></i><span class="title"> Docs.rs</span></a>
          {{#with content.metadata}}
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="/crate/{{name}}/{{version}}" class="pure-menu-link" title="{{description}}"><i class="fa fa-fw fa-cube"></i><span class="title"> {{name}}-{{version}}</span></a>
            </li>
            <li class="pure-menu-item">
              <a href="/crate/{{name}}/{{version}}/source/" title="Browse source of {{name}}-{{version}}" class="pure-menu-link{{#if ../../varsb.package_source_tab}} pure-menu-active{{/if}}"><i class="fa fa-fw fa-folder-open-o"></i><span class="title"> Source</span></a>
            </li>
          {{/with}}
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" class="pure-menu-link"><i class="fa fa-fw fa-gears"></i><span class="title"> Platform</span></a>
              <ul class="pure-menu-children">
                {{#each content.platforms}}
                <li class="pure-menu-item"><a href="/{{../../metadata.name}}/{{../../metadata.version}}/{{this}}/{{../../metadata.target_name}}/" class="pure-menu-link">{{this}}</a></li>
                {{/each}}
              </ul>
            </li>
          </ul>
          </form>
        </div>
      </div>
    </div>
