{{> header}}

<div class="container">
  <div class="recent-releases-container">

    <div class="release">
      {{#if varsb.queue_empty}}
      <strong>There is nothing in queue</strong>
      {{else}}
      <strong>Queue</strong>
      {{/if}}
    </div>

    <ol class="queue-list">
    {{#each content}}
    <li>
        <a href="https://crates.io/crates/{{this.name}}">
            {{this.name}} {{this.version}}
        </a>
        {{#if this.priority}}
        (priority: {{this.priority}})
        {{/if}}
    </li>
    {{/each}}
    </ol>
  </div>
</div>

{{> footer}}
