{{> header}}

<div class="container">
  <div class="recent-releases-container">

    <div class="release">
      {{#if varsb.queue_empty}}
      <strong>There is nothing in queue</strong>
      {{else}}
      <strong>Queue</strong>
      {{/if}}
    </div>

    <ol class="queue-list">
    {{#each content}}
    <li>
        <a href="https://crates.io/crates/{{this.[0]}}">
            {{this.[0]}} {{this.[1]}}
        </a>
        {{#if this.[2]}}
        (priority: {{this.[2]}})
        {{/if}}
    </li>
    {{/each}}
    </ol>
  </div>
</div>

{{> footer}}
