<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<title>Docs.rs</title>
<subtitle>Recent Rust crates</subtitle>
<link href="https://docs.rs/releases/feed" rel="self" />
<link href="https://docs.rs/" />
<link href="https://pubsubhubbub.appspot.com" rel="hub" />
<link href="https://pubsubhubbub.superfeedr.com" rel="hub" />
<id>urn:docs-rs:{{cratesfyi_version_safe}}</id>
<updated>{{content[0].release_time_rfc3339}}</updated>
{{#each content}}
<entry>
<title>{{name}}-{{version}}</title>
<link href="https://docs.rs{{#if rustdoc_status}}/{{name}}/{{version}}/{{target_name}}/{{else}}/crate/{{name}}/{{version}}{{/if}}" />
<id>urn:docs-rs:{{name}}:{{version}}</id>
<updated>{{release_time_rfc3339}}</updated>
<summary>{{#if description}}{{description}}{{else}}-{{/if}}</summary>
<author><name>docs.rs</name></author>
</entry>
{{/each}}
</feed>
