<!DOCTYPE html>
<html lang="en">
<head>
    {{{content.rustdoc_head}}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/menus-min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/style.css?{{cratesfyi_version_safe}}" type="text/css" media="all" />
    <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Docs.rs">
</head>
<body>
{{> navigation_rustdoc}}
<div class="{{content.rustdoc_body_class}}">
    {{{content.rustdoc_body}}}
</div>
<script type="application/javascript">
var el = document.querySelector("body > div.rustdoc");
if (el) { el.focus({preventScroll:true}); }
</script>
<script type="text/javascript" src="/menu.js?{{cratesfyi_version_safe}}"></script>
</body>
</html>
